<div class="catalog-container">
  <div class="catalog-title">
    <span>Каталог</span>
    <span (click)="onAddCatalog(0)">+</span>
  </div>
  <div *ngIf="editCatalog" class="catalog-editing">
    <input type="text" [(ngModel)]="editCatalog.name" name="editCatalog.name" />
    <button type="button" (click)="onSaveCatalog()">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </div>
  <ul>
    <li *ngFor="let catalog of catalogs">
      <div class="catalog-item">
        <span (click)="onEditCatalog($event, catalog)">{{catalog.name}}</span>
        <span (click)="onAddCatalog(catalog.id)">+</span>
      </div>
      <ul>
        <li *ngFor="let child of catalog.childCatalog">
          <div class="child-item">
            <span (click)="onEditCatalog($event, child)">{{child.name}}</span>
            <span (click)="onAddCatalog(child.id)">+</span>
          </div>
          <ul>
            <li *ngFor="let brand of child.childCatalog">
              <div class="brand-item">
                <span (click)="onEditCatalog($event, brand)">{{brand.name}}</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>